<mat-card class="card-container">
  <div class="card-content">
    <!-- Lewa strona - obrazek -->
    <div class="image-container">
      <img
        src="{{data?.url}}"
        alt="Obrazek"/>
    </div>

    <!-- Środkowa treść -->
    <div class="text-container">
      <div class="title">{{ data?.country }}
        <img src="{{data?.image}}"
             alt="Obrazek" width="20"/></div>
      <div class="subtitle">
        {{data?.name}}
      </div>
      <div class="subtitle">
        {{data?.song_name}}
      </div>
    </div>

    <!-- Prawa strona - liczba -->
    <div class="number-container" cdkDragHandle>
      <div *ngIf="data?.points != 0" class="number-box">{{ data?.points }}</div>
      <div *ngIf="data?.points === 0" class="number-box"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon></div>
    </div>
  </div>
</mat-card>
