.card-container {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, purple, blue);
  color: white;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;
}

.card-content {
  display: flex;
  align-items: center;
}

.image-container {
  min-width: 200px;
  flex: 0 0 25%;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text-container {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;
  /*flex: 1;*/
  padding: 8px;
  gap: 20px;
  width: 100%;
  flex: 0 0 65%;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.subtitle {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1rem;
  gap: 10px;
  color: white;
}

.number-container {
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.number-box {
  /*background: linear-gradient(to right, purple, blue);*/
  background: purple;
  color: white;
  font-weight: bold;
  padding: 20px;
  height: auto;
  min-width: 40px;
  max-width: 40px;
  text-align: center;
  font-size: 16px;
}
